<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resale Value Prediction</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color: #e5eeff;">
<table style="text-align: justify; width: 100%;">
    <tr><td  style="background-color: #304040; color: white;" colspan=2 align="center"><h1>Car Resale Value Predictor</h1></td></tr>
    <tr>
        <td style="width: 50%; height:500px; background-image: url('static/car.png'); background-repeat: no-repeat; background-size: cover; background-position: center center; "></td>
        <td align="center" style="font-size: medium; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            <p style="text-align: justify; margin: 25px;">It is expected that sales of old automobiles and second-hand imported (reconditioned) autos would rise in tough economic times. Leasing an automobile rather than purchasing one entirely is typical in many affluent nations. After the lease term is up, the buyer will have the option of purchasing the vehicle for its residual value, or anticipated resale value. Therefore, being able to accurately anticipate the salvage value (residual value) of automobiles is in the best interest of sellers and financiers from a business standpoint.</p>
        <br><br>
        <button><a class="btn btn-warning" href="/predict">WANT TO KNOW THE RESALE VALUE OF YOUR CAR??</a></button><br>
        </td></tr>

</body>
</html>
